.Rprofile
.Xauthority
.bash_history
.bash_logout
.cache/
.cddb/
.config/
.dbus/
.emacs
.face.icon
.gem/
.gimp-2.8/
.gitconfig
.gtkrc-2.0
.hplip/
.kde/
.lesshst
.local/
.macromedia/
.mozilla/
.node_repl_history
.nv/
.pki/
.profile
.pulse-cookie
.rstudio-desktop/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.vagrant.d/
.wget-hsts
.xsel.log
.xsession-errors
Desktop/
FiraxisLive/
Music/
Pictures/
Qt5.4.2/
R/
Steam/
VirtualBox VMs/
projects/
